[submodule "payday2-secret"]
	path = payday2-secret
	url = https://github.com/Clashsoft/payday2-secret.git
[submodule "jindosh-riddle"]
	path = jindosh-riddle
	url = https://github.com/Clashsoft/jindosh-riddle.git
